<h2>Controls</h2>

<div class="row" id="controls-container">
    <div class="col-xs-4">
        <p class="h4">Hours</p>
        <input id="inHours" type="text" class="dial" data-min="0" data-max="5" name="hours" />
    </div>
    <div class="col-xs-4">
        <p class="h4">Minutes</p>
        <input id="inMinutes" type="text" class="dial" data-min="0" data-max="59" name="minutes" />
    </div>
    <div class="col-xs-4">
        <p class="h4">Seconds</p>
        <input id="inSeconds" type="text" class="dial" data-min="0" data-max="59" name="seconds" />
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-12">
        <input id="submitTime" class="btn btn-default" type="button" name="Set Countdown" value="Set Countdown" />
        <input id="pause" class="btn btn-default" type="button" value="Pause" />
        <input id="resume" class="btn btn-default" type="button" value="Resume" />
    </div>
</div>
<div class="row">
    <div>
        <h2>Time Remaining:</h2>
        <h3 id="counter"></h3>
    </div>
</div>
<div class="row">
    <form class="form-inline">
        <div class="form-group">
            <label for="SessionCode">Session Code: </label> <input id="sessionCode" class="form-control" type="text" name="sessionCode" />
            <input id="setSessionCode" class="btn btn-default" type="button" value="Set" />
        </div>
    </form>
    <div class="hidden">        
        Session Code: <span id="sessionCode"></span>
    </div>
</div>

