<div class="row">
    <div class="top-buffer">
        <p class="h1 realbig">Time Remaining:</p>
        <p class="h1 realrealbig"><span id="counter"></span></p>
    </div>
</div>
<div class="row">

</div>
<div class="row">
    <div class="rectangle" id="rectangle"></div>
</div>
@*<div class="row top-buffer">
    <button id="toggleMinimalist" class="btn btn-default">Minimalist Mode: Off</button>
</div>*@
<div class="row top-buffer">
    <div>
        Session Code: <span id="sessionCode"></span>
    </div>
</div>
