@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Speech Timer</h1>
    <p class="lead">Speech Timer is a cross-device countdown timer that lets you view and control the same countdown from multiple devices</p>
    <p><a href="https://github.com/ZainRizvi/SpeechTimer" class="btn btn-primary btn-large">Pull it from GitHub</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Countdown Timer</h2>
        <p>
            View a large countdown timer that can be seen from a distance
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Countdown", "Timer")">View Timer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Controls</h2>
        <p>Control the countdown to pause, resume, and set the time remaining</p>
        <p><a class="btn btn-default" href="@Url.Action("Controls", "Timer")">Controls &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Single Page Timer</h2>
        <p>View countdown timer in minimalist mode</p>
        <p><a class="btn btn-default" href="@Url.Action("SinglePage", "Timer")">Single Page Timer &raquo;</a></p>
    </div>
</div>